.component-title {
    font-weight: bolder;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.135) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    letter-spacing: 2px;
    padding: 10px;
    color: #0e0e0e;
    background-color: lightgray;
  }
  
  .Book-card {
    width: 260px;
    height: 380px;
    padding: 2px;
    background-color: #a9c9ff;
    /* background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%); */
    background-image: linear-gradient(
    225deg,
    black 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
    border-style: ridge;
    font-family: inherit;
    display: inline-block;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  /* ----------------- */
  /* BOOKS LIST TEXT */
  .key-name {
    background-color: #1e1d1da8;
    font-size: 12px;
    padding: 3px;
    color: yellow;
    font-weight: bold;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  
  .key-value {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  /* END => BOOKS LIST TEXT */
  /* ----------------- */
  .Book-img {
    width: 220px;
    height: 180px;
    padding: 3px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 10px;
    background-color: white;
  }
  
  .card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
  }
  .card-button {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 5px;
    padding: 8px !important;
    border-radius: 5px;
    border: 1px solid rgba(29, 255, 236, 0.664);
    background-color: lightcyan;
    color: #111111;
    font-weight: 600;
  }
  .card-button:hover {
    background: #212121;
    border: 1px solid rgba(124, 233, 255, 0.868);
    color: #ffffff;
  }
  .crud-btn-icon {
    width: 13px;
    height: 13px;
    position: relative;
    bottom: 0px;
    left:4px;
  }
  .data-loading {
    background: rgba(13, 12, 12, 0.123);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  /* ----------------- */
  /* INSET-SHADOW EFFECT FOR BOOKS LISTS CARD */
  
  .shadow-inset-center:hover {
    -webkit-animation: shadow-inset-center 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgb(6, 6, 6);
      box-shadow: inset 0 0 0 0 rgb(6, 6, 6);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgb(6, 6, 6);
      box-shadow: inset 0 0 14px 0px rgb(6, 6, 6);
    }
  }
  @keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgb(6, 6, 6);
      box-shadow: inset 0 0 0 0 rgb(6, 6, 6);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgb(6, 6, 6);
      box-shadow: inset 0 0 14px 0px rgb(6, 6, 6);
    }
  }
  
  /* END =>  INSET-SHADOW EFFECT */
  /* ----------------- */
  
  /* END => BOOKS LIST... */
  /* ------------------------------------------------------- */
  
  /* MEDIA QUERY:- */
  
  @media only screen and (max-width: 768px) {
    .component-title {
      font-weight: bolder;
      font-size: large;
      letter-spacing: 1px;
      padding: 5px;
    }
  
    .Book-card {
      width: 240px;
      height: 400px;
      padding: 2px;
      margin: 10px;
    }
  
    .key-name {
      font-size: 10px;
      padding: 2px;
      margin-top: 4px;
      letter-spacing: 1px;
    }
  
    .key-value {
      padding: 2px;
      margin-top: 2px;
      margin-bottom: 2px;
    }
  
    .Book-img {
      width: 200px;
      height: 200px;
      padding: 2px;
      margin-top: 10px;
    }
  
    .card-button {
      margin-right: 5px;
      margin-left: 5px;
      margin-top: 10px;
      padding: 5px;
      font-weight: 400;
    }
    .card-buttons {
      margin-top: 12px;
    }
    .crud-btn-icon {
      width: 9px;
      height: 9px;
      position: relative;
      bottom: 4px;
    }
  }